# Begin password protection #
AuthName "You are attempting to access the Cybertron Hall of Records! Authorized users only! Tresspassers will be fed to the scraplets."
Require valid-user
AuthUserFile "K:\Synced Data (Synced to Cloud)\Aptana Studio Workspace\Transformers Database\admin\.htpasswd"
AuthType basic
# End password protection #

